<section class='arrows'>
  <%= render 'layouts/back_arrow' %>
  <%= render 'layouts/checkout' %>
</section>
<hr>
<section class='current-cart'>
  <h2> Shopping Cart </h2>
  <div class='container-fluid'>
    <% if current_order.order_items.count > 0 %>
      <%= render 'items', :order => current_order %>
    <% else %>
      You have no items in your cart.
    <% end %>
  </div>
</section>
