<section class='welcome message'>
  <article class='title'>
    <h1>Hi, I'm Mr. Beeken!</h1>
  </article>
  <article class='headshot'>
    <%= image_tag 'facepic.jpg' %>
  </article>
  <article class='text'>
    <p>
      I'm a content creator! I love making jam packed educational videos that are exciting and fun.
      That's what I try to emphasize in my videos: the human side of teaching.
      Laughter and excitement are absolutely essential for learning.
    </p>
    <br>
    <p>
      I'm originally from Salem, Oregon. I have always loved music and singing.
      I went to theater camp for choir but, like a virus, I also picked up a love of theater and improv comedy.
      It's so amazing what is possible with <u>just your body and your mind</u>!
      I studied music education at Northern Arizona University and landed a job teaching high school choir after graduating.
      Although I absolutely loved teaching, I found I could be so much more effective merging technology and education.
      So, I quit after just one year and took a day job as a web developer... Mr. Beeken was born shortly after.
      Here I am today, trying as hard as I can to use the internet for good!
      Free education is so important to our world and the world deserves a great learning experience.
    </p>
    <br>
    <p>
      I want to thank you for visiting my website and for supporting free, high quality educational content for all!
    </p>
    <br>
    <p>
      If you've never seen my work, please take some time to check out <a href='www.youtube.com/mrbeeken'>the Youtube channel</a>! If you like what you see, check out <a href='www.youtube.com/mrbeeken'>Mr.Beeken's Patreon</a>. With Patreon you can support me and be rewarded with free stickers and store credit toward merchandise!
    </p>
    <br>
    <p>
      Again, thank you so much! Stay excited and always be learning. The most important ingredients in life!
  </article>
</section>
