<section class='welcome message'>
  <article class='title'>
    <h1>Hi, I'm Mr. Beeken!</h1>
  </article>
  <article class='headshot'>
    <%= image_tag 'facepic.jpg' %>
  </article>
  <article class='text'>
    <p>
      I'm a content creator. I love making jam packed educational videos that are exciting and fun.
      Laughter and enthusiasm are absolutely essential for learning.
    </p>
    <br>
    <p>
      Originally from Salem, OR, I have always loved music and singing.
      I went to theater camp for the choir class but ended up contracting a love of theater and improv comedy too.
      It's so amazing what is possible with <u>just your body and your mind</u>!
      I studied music education at Northern Arizona University and landed a job teaching high school choir after graduating.
      Although I absolutely loved teaching, I found I could be so much more effective merging technology and education.
      So, I quit after just one year and took a day job as a web developer... and Mr. Beeken was born shortly after.
      Here I am today, trying as hard as I can to use the internet for good!
      Free education is so important to our world and the world deserves a great learning experience.
    </p>
    <br>
    <p>
      To those who have supported Mr.Beeken: from the bottom of my heart, thank you so much!
      You share my vision of free, high quality educational content for all and together we are making it happen!
      If you've never seen my work, please take some time to check out <a href='www.youtube.com/mrbeeken'>the Youtube channel</a>. If you like what you see, check out <a href='www.youtube.com/mrbeeken'>Mr.Beeken's Patreon</a>. With Patreon you can support me while gaining access to exclusive content/prizes!
    </p>
    <br>
    <p>
      Again, thank you so much! Stay excited and always be learning. The most important ingredients in life!
    </p>
    <br>
    <p>
      With gratitude,
    </p>
  </article>
  <article class='signature'>
    <%= image_tag 'signature.png' %>
  </article>
</section>
