<section class='feed'>
  <article class='post'>
    <section class='post-title'>
      <h2><strong> MrBeeken.com is launched! </strong></h2>
    </section>
    <hr>
    <section class='post-date'>
      <p> TODO: launch date goes here </p>
    </section>
    <section class='post-body'>
      <p>
        Welcome to the new website!
        <br>
        I'm so excited that you are here.
        As you can see above, the new website includes a <a href='/store'> new store</a> where you can support MrB and get some awesome swag out of it!
        <br>
        Launching with the website is also the new <a href='http://www.patreon.com'>Patreon page</a> where you can show support and earn rewards!
      </p>
    </section>
  </article>
</section>
