<article class='videos-message'>
  <p>Visit my <a href='www.youtube.com'>Youtube channel</a> to see more!
  </article>
<section class='videos'>
  <article class='video'>
    <iframe src="https://www.youtube.com/embed/Qkuqjrwlkxk" frameborder="0" allowfullscreen></iframe>
  </article>
  <article class='video'>
    <iframe src="https://www.youtube.com/embed/aBqoXGLxBWU" frameborder="0" allowfullscreen></iframe>
  </article>
  <article class='video'>
    <iframe src="https://www.youtube.com/embed/F4pT4s8hUVM" frameborder="0" allowfullscreen></iframe>
  </article>
  <article class='video'>
    <iframe src="https://www.youtube.com/embed/wEy0UvbICT8" frameborder="0" allowfullscreen></iframe>
  </article>
  <article class='video'>
    <iframe src="https://www.youtube.com/embed/WVNZBKbYOc8" frameborder="0" allowfullscreen></iframe>
  </article>
</section>
