/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap_and_overrides
 */
@font-face {
  font-family: 'Oswald';
  src: asset_url('fonts/Oswald/Oswald-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Meera Inimai';
  src: asset_url('fonts/Meera_Inimai/MeeraInimai-Regular.ttf') format('truetype');
}

 @media only screen and (max-width: 1350px) {
   .banner img {
     width: 100%;
   }
   .nav-links {
     float: left !important;
   }
 }

@media only screen and (max-width: 491px) {
 .banner img {
   width: 100%;
 }
}
@media only screen and (max-width: 579px) {
  .nav-link {
    font-size: 8px !important;
    .nav-text {
      font-size: 13px;
    }
  }
  .nav-links {
    width: 100% !important;
    padding-left: 0px !important;
    padding-top: 0px !important;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .nav-icon {
    i {
      font-size: 20px;
    }
  }
}

.nav-text {
  font-family: 'Oswald', cursive;
  font-size: 3vw;
  color: black;
}

.banner {
  min-width: 300px;
  max-width: 400px;
  max-height: 200px;
}

.banner img {
  width: 100%;
  height: 100%;
  float: left;
}

.cart {
  display: flex;
  flex-direction: row;
}

.navbar {
  background-color: #abcfe7;
}

.nav-links {
  float: right;
  padding-top: 20px;
  padding-left: 30px;
}

.nav-link {
  float: left;
  margin-right: 20px;
  &:hover {
    box-shadow: 2px 2px white;
  }
  .cart {
    float: left;
  }
  a {
    text-decoration: none;
  }
}

.thumbnail {
  text-align: center;
  max-height: 80%;
  max-width: 80%;
}

.remove_button {
  float: right;
}

.active {
  background-color: yellow;
}

.store-icon {
  max-width: 20px;
  max-height: 30px;
}

.jumbotron {
  border-radius: 10px;
  margin: 20px;
  box-shadow: 2px 2px 2px 2px #8a9296;
}

.nav-icon {
  i {
    margin-left: 20px;
    margin-right: 2px;
    font-size: 32px;
  }
}

.nav-text {
  display: flex;
  flex-direction: row;
}
