// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.thumbnail {
  width: 300px;
  height: 200px;
  object-fit: contain;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  &:hover {
    box-shadow: 2px 2px 2px 2px #8a9296;
  }
  .name {
    text-align: left;
    font-family: sans-serif;
  }
  .image {
    width: 100%;
    img {
      border-radius: 5px;
      max-height: 150px;
    }
  }
}

.show {
  padding: 20px;
  .name-spacer {
    width: 100%;
    float: left;
    padding: 0px 0px 20px 20px;
    .name {
      text-align: left;
      float: left;
    }
  }
  .description {
    width: 100%;
    text-align: center;
  }
  .image {
    width: 100%;
    float: left;
    img {
      float: left !important;
      border-radius: 10px;
      max-width: 600px;
      width: 100%;
      align: left;
    }
  }
  .form {
    width: 100%;
    padding: 20px;
    float: left;
    .quantity-option {
      width: 43px;
      margin-bottom: 20px;
      float: left;
    }
    .qlabel {
      width: 80px;
      float: left;
    }
    .order {
      text-align: center;
      width: 200px;
      float: left;
    }
  }
  @media only screen and (min-width: 500px) {
    .form {
      width: 50%;
      float: left;
    }
    .image {
      width: 50%;
      float: left;
    }
    .name-spacer {
      width: 50%;
      float: left;
    }
  }
}
