<article class='thumbnail'>
  <section class='name'>
    <%= product.name %>
  </section>
  <section class='image'>
    <%= link_to image_tag(product.default_image.path), product_path(product.permalink) %>
  </section>
  <section class='price'>
    $ <%= product.price %>
  </section>
</article>
